---
import {type ICard} from "@types/ICard"

const {card} = Astro.props

const cardData:ICard ={
    componentLink:card.frontmatter.componentLink,
    description:card.frontmatter.description,
    title:card.frontmatter.title,
    videoURL:card.frontmatter.videoURL,
}
const {componentLink,description,title,videoURL} = cardData
---
<div class="card">
    <div class="card-video">
        <video src={videoURL} preload="auto" autoplay loop></video>
    </div>
    <div class="card-body">
        <h2 class="card-title">{title}</h2>
        <p class="card-description">{description}</p>
    </div>
    <a href=`/effects/${componentLink}`></a>
</div>
<style>
    .card {
        background-color: var(--surface);
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.4);
        position: relative;
        padding: 5px;
        flex-grow: 1;
        flex-basis: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        transition: all 0.3s ease-in-out;
    }
    .card:hover{
        border:2px solid  var(--text-highlight);
    }
    .card-video{
        display: flex;
        flex-basis: 50%;
        height: 75%;
        width: 100%;
        border-radius: 10px;
    }
    .card-video > video{
        height: auto;
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
    }
    .card-title{
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-highlight);
    }
    .card-body{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        line-height: 1.8rem;
        padding: 5px 10px;
    }
    .card-body > p{
        font-weight: 300;
    }
    a{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
</style>